#tweetsection {
    padding: 1.2em;
}
#info {
    font-size:2em;
}
.jumbotron {
    background-image: url(http://www.transparenttextures.com/patterns/rocky-wall.png);
    background-color:black;
    color:white;
}
body {
    font-family: 'Droid Sans', sans-serif;
}
#tweet-text {
    width: 75%;
    text-align: center;
    height: 5em;
}
#aboutme {
    background-color:#eee;
    border-radius: 6px;
}

#roc {
	width: 80%;
	height: 80%;
	-webkit-clip-path: polygon(0 0, 100% 65%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 65%, 100% 100%, 0% 100%);
    position:absolute;
    height:100%;
    width:100%;
    z-index: -1;
    
    }
#roc::after{
    background-image:url("../images/night-city.jpg");
    opacity:0.25;
    width: 100%;
    height: 100%;
    top: 0;
      left: 0;
      position: absolute;
      z-index: -2;
      content: "";
}
